.table-wrapper {
    overflow-x: auto; /* Pozwala na scrollowanie samej tabeli na telefonie */
    -webkit-overflow-scrolling: touch;
    margin: 2rem 0;
    border-radius: var(--radius);
    border: 2px solid var(--heading-color);
}

.styled-table {
    min-width: 500px; /* Zapobiega zbytniemu ściskaniu kolumn */
    width: 100%;
}
